.background {
    background-color: black;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.custom-spotlight-card {
  transition: all 0.3s ease;
}

.custom-spotlight-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 229, 255, 0.2);
}

